.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.logo--sm {
  max-width: 170px;
}

.logo--md {
  max-width: 220px;
}

.logo__image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.logo__sr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

